
*.xml
NaverCrawlUI/.idea/NaverCrawlUI.iml
NaverCrawlUI/build/main/Analysis-00.toc
NaverCrawlUI/build/main/base_library.zip
NaverCrawlUI/build/main/EXE-00.toc
NaverCrawlUI/build/main/localpycs/pyimod01_archive.pyc
NaverCrawlUI/build/main/localpycs/pyimod02_importers.pyc
NaverCrawlUI/build/main/localpycs/pyimod03_ctypes.pyc
NaverCrawlUI/build/main/localpycs/pyimod04_pywin32.pyc
NaverCrawlUI/build/main/localpycs/struct.pyc
NaverCrawlUI/build/main/main.exe.manifest
NaverCrawlUI/build/main/main.pkg
NaverCrawlUI/build/main/PKG-00.toc
NaverCrawlUI/build/main/PYZ-00.pyz
NaverCrawlUI/build/main/PYZ-00.toc
NaverCrawlUI/build/main/warn-main.txt
NaverCrawlUI/build/main/xref-main.html
Study_NaverCafeCrawl/.idea/workspace.xml
