
TensorFlowStudy/.idea/TensorFlowStudy.iml
TensorFlowStudy/.idea/modules.xml
TensorFlowStudy/.idea/misc.xml
TensorFlowStudy/.idea/inspectionProfiles/Project_Default.xml
TensorFlowStudy/.idea/inspectionProfiles/profiles_settings.xml
TensorFlowStudy/.idea/TensorFlowStudy.iml
TensorFlowStudy/.idea/modules.xml
TensorFlowStudy/.idea/misc.xml
TensorFlowStudy/.idea/inspectionProfiles/Project_Default.xml
TensorFlowStudy/.idea/inspectionProfiles/profiles_settings.xml
*.csv
SamplCode/.idea/inspectionProfiles/Project_Default.xml
*.xml
*.log
SamplCode/logfile.log
SamplCode/logfile.log
SamplCode/build/CodeReviewUI/Analysis-00.toc
SamplCode/build/CodeReviewUI/base_library.zip
SamplCode/build/CodeReviewUI/CodeReviewUI.exe.manifest
SamplCode/build/CodeReviewUI/CodeReviewUI.pkg
SamplCode/build/CodeReviewUI/EXE-00.toc
SamplCode/build/CodeReviewUI/localpycs/pyimod01_archive.pyc
SamplCode/build/CodeReviewUI/localpycs/pyimod02_importers.pyc
SamplCode/build/CodeReviewUI/localpycs/pyimod03_ctypes.pyc
SamplCode/build/CodeReviewUI/localpycs/pyimod04_pywin32.pyc
SamplCode/build/CodeReviewUI/localpycs/struct.pyc
SamplCode/build/CodeReviewUI/PKG-00.toc
SamplCode/build/CodeReviewUI/PYZ-00.pyz
SamplCode/build/CodeReviewUI/PYZ-00.toc
SamplCode/build/CodeReviewUI/warn-CodeReviewUI.txt
SamplCode/build/CodeReviewUI/xref-CodeReviewUI.html
SamplCode/dist/CodeReviewUI.exe
SamplCode/logfile.log
